.v-search {
  background-color: white;
  font-family: MarkWebPro,sans-serif;
}

.v-search input {
  border: 2px solid #8c8c8c;
  color: rgb(25,25,25);
  font-size: 120%;
  padding: 1rem;
  width: 100%;
}

.v-search > p {
  display: none;
}

.v-search ul {
  border: 2px solid #8c8c8c;
  border-top: none;
  margin-top: 0;
  max-height: 50rem;
  overflow-y: auto;
  padding-left: 0;
}

.v-search ul:empty {
  display: none;
}

.v-search ul li {
  list-style: none;
}

.v-search ul li:hover {
  background-color: #eeeeee;
  text-decoration: none;
}

.v-search ul li a {
  color: rgb(25,25,25);
  display: inline-block;
  width: 100%;
}

.v-search ul li a h4 {
  padding: 1rem;
  margin: 0;
}

.v-search .back {
  margin-top: -1.5rem;
}

.v-search button {
  padding-left: 0;
}

.v-search__result {
  border: 2px solid #8c8c8c;
  border-top: none;
  margin-top: 0;
  padding: 1.5rem;
}
