.v-search {
  background-color: white;
  font-family: MarkWebPro,sans-serif;
}

.v-search input {
  border: 2px solid #8c8c8c;
  color: rgb(25,25,25);
  font-size: 120%;
  padding: 1rem;
  width: 100%;
}

.v-search > p {
  display: none;
}

.v-search .v-search__list {
  border: 2px solid #8c8c8c;
  border-top: none;
  margin-top: 0;
  max-height: 50rem;
  overflow-y: auto;
  padding-left: 0;
}

.v-search .v-search__list:empty {
  display: none;
}

.v-search .v-search__list li {
  list-style: none;
}

.v-search .v-search__list li:hover {
  background-color: #eeeeee;
  text-decoration: none;
}

.v-search .v-search__list li a {
  color: rgb(25,25,25);
  display: inline-block;
  width: 100%;
}

.v-search .v-search__list li a h4 {
  padding: 1rem;
  margin: 0;
}

.demand__no .demand__number {
  background-color: #c51616;
}
.demand__maybe .demand__number {
  background-color: #ffc516;
}

.demand__title.demand__no {
  color: #c51616;
}
.demand__title.demand__maybe {
  color: #ffc516;
}

.anbieter .extension {
  color: white;
}

.anbieter__info {
  padding: 2rem;
}
